<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{!-- <link rel="stylesheet" href="css/_header.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/_footer.css"> --}}
    {{#each style}}
        <link rel="stylesheet" href="css/{{this}}.css" type="text/css">
    {{/each}}
</head>
<body id="root">
    <video autoplay muted loop id="myVideo">
        <source src="video/smoke.mp4" type="video/mp4">
    </video>
    {{> header}}
    
    <div class="body-content" id="body-content">
        {{{body}}}
    </div>

    {{>footer}}
    <script src="/index.js"></script>
    <script src="/tabaco.js"></script>
    <script src="/validateAge.js"></script>
</body>
</html>