.personalCab{
    position: relative;
    display: flex;
    flex-direction: column;
}
.personalCab .title {
    font-size: 32px;
    display: inline-block;
    width: auto;
    text-align: left;
    margin-bottom: 30px;
}
.personalCab .title span{
    text-transform: capitalize;
}

.personalCab > .defbox {
    width: 76%;
}
.personalCab > .defbox >.deftitle{
    text-align: left;
}
.personalCab > .title {
    display: inline-block;
    width: 85%;
}
.personal-inf > .userprofile{
    margin-top: 31px;
    margin-bottom: 38px;
}
.personal-inf > .userprofile .name ,.login, .email{
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    font-size: 18px;
    font-family: sans-serif;
    color: #f3f3f3;
}
.personal-inf > .userprofile span{
    margin-bottom: 12px;
}

.personal-inf > .userprofile .name::before{
    content: 'User name: ';
    color: rgb(118, 117, 117);
    margin-right: 10px;
    font-size: 13px ;
    text-transform: lowercase;
}
.personal-inf >.userprofile .login::before{
    content: 'User login: ';
    color: rgb(118, 117, 117);
    margin-right: 10px;
    font-size: 13px ;
    text-transform: lowercase;
}
.personal-inf > .userprofile .email::before{
    content: 'User email: ';
    color: rgb(118, 117, 117);
    margin-right: 10px;
    font-size: 13px ;
    text-transform: lowercase;
}
#suggest{
    white-space: nowrap;
    width: 190px;
    position: absolute;
    bottom: 25px;
    left: 27px;
}
.logout{
    position: absolute;
    bottom: 25px;
    right: 27px;
}
.recommendation {
    width: 100%;
    margin: 30px auto 25px;
    text-align: center;
}

.defbox .favoriteRecipeList {
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
}
.favoriteRecipeList .listItem {
    font-size: 25px;
}
.button {
    display: inline-block;
    padding: 9px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: .4s;
    border: 1px solid #000;
    background: rgb(170 168 168 / 37%);
}
.button:hover{
    background: rgb(249 249 249 / 60%);
    color: #ffffff;
}
.button:active{
    background: rgba(255, 255, 255, .5s);
    border: 2px solid rgba(255, 255, 255, 1);
}
.personalCab > .defbox:not(:last-child){
    margin-bottom: 40px;
}
.personalCab :nth-child(2n+1){
    align-self: flex-end;
}

.personalCab :nth-child(2n){
    align-self: flex-start;
}
@media screen and (max-width : 850px) {
    .personalCab > .defbox{
        width: 80%;
    }
}
@media screen and (max-width : 800px) {
    .personalCab > .defbox{
        width: 85%;
    }
}
@media screen and (max-width : 700px) {
    .personalCab > .defbox{
        width: 100%;
    }
}