.personalCab{
    position: relative;
}
.personalCab .title {
    font-size: 32px;
    display: inline-block;
    width: auto;
    text-align: left;
    margin-bottom: 30px;
}
.personalCab .title span{
    text-transform: capitalize;
}
.personalCab > .defbox {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}
.personalCab > .defbox:not(:last-child) {
    margin-right: 4%;
}
.personalCab > .title {
    display: inline-block;
    width: 85%;
}
/* .personalCab > .logout {
    
} */

.recommendation {
    width: 100%;
    margin: 30px auto 25px;
    text-align: center;
}

.defbox .favoriteRecipeList {
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
}
.favoriteRecipeList .listItem {
    font-size: 25px;
}
.button {
    display: inline-block;
    padding: 9px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: .4s;
    border: 1px solid #000;
    background: rgb(170 168 168 / 37%);
    width: 130px;
}
.button:hover{
    background: rgb(249 249 249 / 60%);
    color: #ffffff;
}
.button:active{
    background: rgba(255, 255, 255, .5s);
    border: 2px solid rgba(255, 255, 255, 1);
}