.personalCab{
    position: relative;
}
.personalCab .title {
    font-size: 32px;
    display: inline-block;
    width: auto;
    text-align: left;
}
.personalCab .title span{
    text-transform: capitalize;
}
.recommendation {
    width: 400px;
    margin: 30px auto 25px;
    text-align: center;
}

.defbox .favoriteRecipeList {
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
}
.favoriteRecipeList .listItem {
    font-size: 25px;
}
.button {
    display: inline-block;
    padding: 6px 15px;
    width: 230px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.01);
    position: absolute;
    top: 0;
    right: 0;
    transition: .7s;
}
.button:hover{
    background: rgb(249 249 249 / 60%);
    color: #ffffff;
    text-shadow: 6px 4px 5px #ffffff;
}
.button:active{
    background: rgba(255, 255, 255, .5s);
    border: 2px solid rgba(255, 255, 255, 1);
}