/* .form-wrap{
    
} */
.signInWrap , .signUpWrap{
    
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
}

.form-element:not(:last-child){
    margin-bottom: 20px;
}
.form .title{
    margin-bottom: 25px;
    font-size: 30px;
    font-family: serif;
    font-weight: 600;
    letter-spacing: 3px;
}
.form .form-text{
    width: 100%;
    border: 2px solid rgb(183 180 180);
    box-shadow: 1px 0px 8px 0px;
    border-radius: 5px;
    font-size: 20px;
    color: #fffafa;
    padding: 5px 12px;
    background: inherit;
}
.form .form-text:focus{
    outline: none;
    box-shadow: 1px 0px 5px 5px;;
}
.form .form-select {
    background: #000;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 19px;
    width: 100%;
}

.form-button{
    border: 2px solid #918d8d;
    background: inherit;
    padding: 6px 15px;
    width: 230px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.form .form-button:hover{
    background: rgb(249 249 249 / 60%);
    color: #efeeee;
    text-shadow: 2px 2px 6px #fbfbfb;
}
.form .form-button:active{
    background: rgba(255, 255, 255, .5s);
    border: 2px solid rgba(255, 255, 255, 1);
}
/* subscribe */
.form .subscribe-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}
.form .form-label{
    cursor: pointer;
    font-size: 15px;
    font-family: serif;
    transition: 0.5s;
    color: #918d8d;
    margin-left: 7px;
}
.form-checkbox:checked ~ label.form-label{
    color: #fff;
}
.form .form-label:hover{
    color: #fff;
}
.form .form-checkbox{
    cursor: pointer;
    height: 15px;
    margin-right: 12px;
    display: flex;
}

.form .createAccountLink{
    text-transform: lowercase;
    text-decoration: none;
    font-family: monospace;
    font-size: 16px;
    color: #fff;
}
.form .createAccountLink:hover{
    text-decoration: underline;
}
.getRegistrationForm{
    text-decoration: none;
    font-size: 15px;
    text-transform: lowercase;
    font-family: monospace;
}
.getRegistrationForm:hover{
    text-decoration: underline;
}
.error-message{
    font-size: 16px;
    height: 1px;
    margin-bottom: 30px;
}
.closeFormButton {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}
.closeFormButton >.line {
    width: 32px;
    height: 4px;
    background-color: #efeeee;
    position: absolute;
}
.closeFormButton >.line:first-child{
    top: 16px;
    left: 0;
    transform: rotate(45deg);
}
.closeFormButton >.line:last-child{
    bottom: 14px;
    left: 0;
    transform: rotate(135deg);
}
.form-button__nextButton , .form-button__prevButton{
    position: absolute;
    bottom: 5px;
    width : 100px;
    display: flex;
    justify-content: center;
}
.form-button__nextButton{
    right: 54px;
}
.form-button__prevButton{
    left: 54px;
}
.moveable{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width : 650px) and (min-width: 320px) {
    .form{
        width: 350px;
    }
    .form .form-text {
        width: 94%;
    }
    .form-button{
        margin-top: 5px;
    }
    .error-message{
        font-size: 15px;
        height: 1px;
        margin-bottom: 22px;
    }
}

@media screen and (max-width : 460px) and (min-width: 320px) {
    .form{
        width: 90%;
        margin: 0 auto;
    }
    .signInWrap{
        position: absolute;
        top: 73px;
        left: 0;
        z-index: 10000;
    }
    .signInWrap, .signUpWrap {
        transform: none;
    }
}
@media screen and (max-width : 400px) and (min-width: 320px) {
    .form{
        width: 100%;
    }
    .form .form-text {
        width: 100%;
    }
}