<div class="personalCab">
    <h2 class="title">Hello <span>{{UserName}}</span></h2>
    <div class="defbox personal-inf">
        <span class="name">{{UserName}}</span>
        <span class="login">{{UserLogin}}</span>
        <span class="email">{{userEmail}}</span>
        <button class="button logout">Log out</button>
    </div>
    
    <div class="defbox">
        <h3 class="deftitle">Your favorite mix list</h3>
        <ul class="favoriteRecipeList"></ul>
    </div>
</div>  