<div class="personalCab">

    <div class="defbox personal-inf">
        <h3 class="deftitle">Personal information</h3>
        <div class="userprofile">
            <span class="name">{{UserName}}</span>
            <span class="login">{{UserLogin}}</span>
            <span class="email">{{UserEmail}}</span>
        </div>
        <button class="button" id="suggest" >Share a recipe</button>
        <button class="button logout">Log out</button>
    </div>
    
    <div class="defbox">
        <h3 class="deftitle">Your favorite mix list</h3>
        <ul class="favoriteRecipeList"></ul>
    </div>
</div>  