<div class="container">
    <h1 class="main-title">{{title}}</h1>
    <p class="main-descr">Я знаю людей кто обожает после тяжелого дня взяться за горлышко увесистой колбы, налить неспеша холодной воды для новой
        дымной сессии. Шахта уже собрана и с красующейся на верху блюдцем вставлен в колбу, дожидаясь самого 
        главного ... <i>Чаши</i> Вот именно сдесь, мой друг, я собираюсь показать тебе чудесный мир миксованных паровых коктейлей.
    </p>
</div>

