<div class="home-content">
    <h1 class="main-title">{{name}}</h1>
    <p class="main-descr">Welcome to the mixology website that was created to gather hookah recipts at one place.
        Have  you ever come across an issue ? You and your friends are hanging up in the evening ,
        at some point someone gives an idea to smoke shisha.
        One of the bunch prefers sweet to sour or on the contrary , 
        it might be also someone wants to taste a mix with granny apple for instance , anyway , 
        this is a spot can provide you a lot of recipts.
        From top 10 recipts to specific flavor. Therefore everyone of the group will be satisfied by this list. 
    </p>
</div>

