
<div class="mixologyID">
    <h1 class="main-title">Mixology</h1>
    <p class="main-descr">{{subtitle}}</p>
    <div class="mix-content">
        <div class="mix-menu">
            <ul class="mix-menu-list">
                <li href="/mixology/fresh" class="mix-menu-link">Fresh</li>
                <li href="/mixology/tart" class="mix-menu-link">Tart</li>
                <li href="/mixology/sweet" class="mix-menu-link">Sweet</li>
                <li href="/mixology/spicy" class="mix-menu-link">Spicy</li>
                <li href="/mixology/dessert" class="mix-menu-link">Dessert</li>
                <li href="/mixology/original" class="mix-menu-link">Original mixes</li>
            </ul>
        </div>
        <div class="recipe-block" id="content">
            <h2 class="recipe-title listTitleId" >Top 10 recipes</h2>
            <ul class="recipe-list recipeListId" >
                {{!-- there will be recipeList --}}
            </ul>
            
        </div>
    </div>
    <script >

    </script>
</div>