
<div class="mixologyID">
    <h1 class="main-title">Mixology</h1>
    <p class="main-descr">{{subtitle}}</p>
    <div class="mix-content">
        <ul class="menu-main">
            <li href="/mixology/fresh" class="menu-main-link">Fresh</li>
            <li href="/mixology/tart" class="menu-main-link">Tart</li>
            <li href="/mixology/sweet" class="menu-main-link">Sweet</li>
            <li href="/mixology/spicy" class="menu-main-link">Spicy</li>
            <li href="/mixology/dessert" class="menu-main-link">Dessert</li>
            <li href="/mixology/original" class="menu-main-link">Original mixes</li>
        </ul>
        <div class="recipe-block" id="content">
            <h2 class="recipe-title listTitleId" >Top 10 recipes</h2>
            <ul class="recipe-list recipeListId" >
                {{!-- there will be recipeList --}}
            </ul>
            
        </div>
    </div>
    <script >

    </script>
</div>