
<div class="mixologyID">
    <h1 class="main-title">Mixology</h1>
    <div class="mix-content">
        <div class="mix-menu">
            <ul class="mix-menu-list">
                <li class="mix-menu-link"><a href="/mixology/fresh">Fresh</a></li>
                <li class="mix-menu-link"><a href="/mixology/tart">Tart</a></li>
                <li class="mix-menu-link"><a href="/mixology/sweet">Sweet</a></li>
                <li class="mix-menu-link"><a href="/mixology/spicy">Spicy</a></li>
                <li class="mix-menu-link"><a href="/mixology/dessert">Dessert</a></li>
                <li class="mix-menu-link"><a href="/mixology/original">Original mixes</a></li>
            </ul>
        </div>
        <div class="recipe-block defbox" id="content">
            <h2 class="recipe-title listTitleId" ></h2>
            <ul class="recipe-list recipeListId" >
            </ul>
            
        </div>
    </div>
    <script >

    </script>
</div>