<div class="container">
    <h1>Mixology</h1>
    <p>Hookah mixology is important for experienced people I am here to show basic mixes</p>
    <div class="mix-content">
        <div class="mix-content-menu">
            <a href="/mixology/fresh_taste">Fresh</a>
            <a href="/tart_taste">Tart</a>
            <a href="/sweet_taste">Sweet</a>
            <a href="/spicy_taste">Spicy</a>
            <a href="/dessert_taste">Dessert</a>
            <a href="/original_mixes">Original mixes</a>
        </div>
        <div class="mix-content-text">
            <p>{{content}}</p>
        </div>
    </div>

</div>