
<div class="container">
    <h1 class="main-title">Mixology</h1>
    <p class="main-descr">Hookah mixology is important for experienced people I am here to show basic mixes</p>
    <div class="mix-content">
        <div class="menu-main">
            <li class="menu-main-item"><a href="/mixology/fresh_taste" class="menu-main-link">Fresh</a></li>
            <li class="menu-main-item"><a href="/mixology/tart_taste" class="menu-main-link">Tart</a></li>
            <li class="menu-main-item"><a href="/mixology/sweet_taste" class="menu-main-link">Sweet</a></li>
            <li class="menu-main-item"><a href="/mixology/spicy_taste" class="menu-main-link">Spicy</a></li>
            <li class="menu-main-item"><a href="/mixology/dessert_taste" class="menu-main-link">Dessert</a></li>
            <li class="menu-main-item"><a href="/mixology/original_mixes" class="menu-main-link">Original mixes</a></li>
        </div>
        <div class="mix-content-text">
            <p>{{content}}</p>
            
        </div>
    </div>

</div>