<div class="personalCab">
    <h2 class="title">Hello <span>{{userName}}</span></h2>
    <button class="button logout">Log out</button>
    <div class="mix-list">
        <h3 class="favoriteRecipeTitle">Your favorite mix list</h3>
        <ul class="favoriteRecipeList">
        </ul>
    </div>
</div>