@import '__logo.css';
@import '_mix-content.css';
@import '_ageValidator.css';
@import 'tabaco-page.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
.container{
    width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
.main-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.main-descr{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 40px;
}