*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
.header , .footer{
    max-width: 930px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container{
    max-width: 900px;
    min-width: 320px;
    margin: 0 auto;
    padding: 40px 0;
}
.body-content{
    
}
.main-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.main-descr{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 40px;
}

@media screen and (min-width: 320px) and (max-width : 1000px){
    .header , .footer{
        width: 94%;
        align-items: center
    }
    .container{
        width: 90%;
    }
}

@media screen and (min-width: 320px) and (max-width : 500px){
    .header , .footer{
        padding: 20px;
    }
    .container{
        width: 90%;
    }
}