@import 'common.css';

@import 'parts/__logo.css';
@import 'parts/__mainmenu.css';
@import 'parts/_footer.css';
@import 'parts/__mixmenu.css';

@import 'modalWindow/window.css';

@import 'mainMenuContent/mixology-page.css';
@import 'mainMenuContent/registration.css';
@import 'mainMenuContent/personalCab.css';
@import 'mainmenuContent/article.css';
.blurpanel ,#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#myVideo{
    z-index: -100;
}
.blurpanel{
    z-index: -99;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
}