@import 'common.css';

@import 'parts/__logo.css';
@import 'parts/__mainmenu.css';
@import 'parts/recipelist.css';
@import 'parts/_footer.css';

@import 'animation/animation.css';

@import 'modalWindow/window.css';

@import 'mainMenuContent/mixology-page.css';
@import 'mainMenuContent/tabaco-page.css';
@import 'mainMenuContent/registration.css';
@import 'mainMenuContent/personalCab.css';
#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}