
<nav class="menu-wrap">
    <ul class="menu-main">
        <li class="menu-main-item"><a href="/" class="menu-mail-link">Home</a></li>
        <li class="menu-main-item"><a href="/mixology" class="menu-mail-link">Mixology</a></li>
        <li class="menu-main-item"><a href="/tabaco" class="menu-mail-link">Tabaco</a></li>
        <li class="menu-main-item"><a href="/about_project" class="menu-mail-link">About project</a></li>
    </ul>
</nav>
