
<nav class="menu-wrap">
    <ul class="menu-main" id="main-menu">
        {{#each menuLinks }}
            <a href="{{this.link}}" class="menu-main-link">{{this.name}}</a>
        {{/each}}
    </ul>
</nav>
