
<nav class="menu-wrap">
    <ul class="menu-main">
        {{#each menuLinks }}
            <li class="menu-main-item"><a href="{{this.link}}" class="menu-main-link">{{this.name}}</a></li>
        {{/each}}
    </ul>
</nav>
