
<nav class="menu-wrap">
    <ul class="menu-main" id="main-menu">
            <a href="/home" class="menu-main-link">Home</a>
            <a href="/mixology" class="menu-main-link">Mixology</a>
            <a href="/tabaco" class="menu-main-link">Brands</a>
            <a href="/project" class="menu-main-link">About it</a>
    </ul>
</nav>
