
<nav class="mainMenuWrap">
    <div class="smallScreenButton">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="menu-main" id="main-menu">
            <a href="/home" class="menu-main-link home">Home</a>
            <a href="/mixology" class="menu-main-link mixology">Mixology</a>
            <a href="/tabaco" class="menu-main-link tabaco">Brands</a>
            <a href="/registration" class="menu-main-link registration">Sign in</a>
    </ul>
</nav>
