@keyframes rotateCircle {
    0%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(170deg);
    }
    60%{
        transform: rotate(190deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.pendingWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pendindAnimation{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top: 4px solid rgb(23, 23, 23);
    border-right: 4px solid rgb(75, 74, 74);
    border-bottom: 4px solid rgb(130, 130, 130);
    border-left: 4px solid rgb(213, 217, 213);
    animation-name: rotateCircle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-left: auto;
    margin-right: auto;
    
}

