.logotype-wrapper{
    display: flex;
    align-items: center;
}
.hookah-svg{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #000;
    padding: 1px;
    border: 3px solid #f5f5f5;
}
.logo-name{
    margin-left: 22px;
    font-size: 23px;
    text-transform: uppercase;
    font-family: cursive;
}
